.accordianWrap {
  background-color: aliceblue;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 250px;
}

.carouselWrapper {
  height: 50vh;
  width: 60dvw;
  background-color: rgb(200, 199, 199);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toastWrapper {
  position: fixed;
  right: 0;
  height: 50px;
  width: 20dvw;
  background-color: gray;
  padding-left: 10px;
  border-radius: 10px 0px 0px 10px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.toast-top {
  top: 10px;
}

.toast-bottom {
  bottom: 10px;
}

.commentInput {
  height: 30px;
  width: 25dvw;
}

.commentBtn {
  height: 35px;
  margin: 10px;
  padding: 10px;
  width: 7dvw;
  text-align: center;
}

.replyBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reply {
  height: 20px;
  margin-left: 30px;
}

.replyInput{
  margin-left: 20px;
}