.accordianWrap{
    background-color: aliceblue;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
}

.carouselWrapper{
    height: 50vh;
    width: 60dvw;
    background-color: rgb(200, 199, 199);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}